@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
}
*:focus { outline: none; }
html{
    max-height: 100vh;
    scroll-behavior: smooth;
}
a, input, textarea, button{
    cursor: none !important;
}
#cursor{
    width: 40px;
    height: 40px;
    cursor: none;
    border-radius: 50%;
    border: white dashed 2px;
    position: absolute;
    mix-blend-mode: exclusion;
    pointer-events: none;
    transform: scale(1);
    top: -100px;
}
#cursor::before{
    content: '';
    position: absolute;
    top: calc(50% - 5px/2);
    left: calc(50% - 5px/2);
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
}
body{
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    width: auto;
    overflow-y: hidden;
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}
@keyframes turnAnim {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}
@keyframes contractAnim {
    from{
        transform: scale(0.7) rotate(720deg);
    }
    to{
        transform: scale(0.7) rotate(0deg);
    }
}
@keyframes turnoverAnim {
    from{
        transform: scale(4) rotate(720deg);
        border-width: 0px;
    }
    to{
        transform: scale(4) rotate(0deg);
        border-width: 0px;
    }
}
.turn{
    animation: turnAnim 15s linear infinite;
}
.contract{
    animation: contractAnim 3s linear infinite;
}
.turnover{
    animation: turnoverAnim 3s linear infinite;
    border-width: 0.0px;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
#bgImage{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
    background-color: red;
    width: 100vw;
    height: 100vh;
    filter: grayscale(100%) contrast(1) brightness(20%);
    object-fit: cover;
}

#aPropos{
    position: absolute;
    width: 50vw;
    height: 100vh;
    max-height: 100vh;
    background-color: white;
    left: 50vw;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#aProposBlock1{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 190px);
    justify-content: space-between;
}
#image{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 25px;
    box-shadow: 0 0 20px 3px #00000033;
    animation-name: animImage;
    animation-duration: 0.7s;
    filter: grayscale(100%);
}
#nameTitle{
    font-size: 32px;
    line-height: 32px;
    max-width: 100%;
    animation-name: animationName;
    animation-duration: 0.7s;
}
#status{
    margin-top: 2px;
    margin-bottom: 25px;
    line-height: 20px;
    font-size: 20px;
    max-width: 100%;
    font-weight: 500;
    animation-name: animationName;
    animation-duration: 0.7s;
}
#parapgraphe{
    margin-bottom: 25px;
    width: 100%;
    animation-name: animationPara;
    animation-duration: 0.7s;
    font-weight: 16px;
}
#socialBlock{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.socialMedia{
    width: 50%;
    height: 50%;
}
.socialLink{
    background-color: #000000;
    width: 45px;
    height: 45px;
    border-radius: 7px;
    box-shadow: 0 0 20px 3px #00000033;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    overflow: hidden;
}
#goContact{
    padding: 5px 10px;
    background-color: white;
    border: none;
    border: 3px solid #000000;
    border-radius: 7px;
    box-shadow: 0 0 20px 3px #00000033;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: 10%;
    font-weight:600;
}
#ContactSpace{
    position: absolute;
    width: 50vw;
    height: 100vh;
    background-color: white;
    left: 100vw;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Contact{
    position: absolute;
    width: 50vw;
    height: 100vh;
    left: 150vw;
    top: 0;
}
#contactTitle{
    font-size: 32px;
    max-width: 80%;
    animation: animationName 0.7s;
}
#contactTitleContent{
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 25px;
    display:flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    animation: animForm 0.7s;
}
.inputForm{
    width: 100%;
}
input{
    width: 38.5vw;
    height: 32px;
    font-size: 16px !important;
    border: 0;
    border-radius: 7px;
    /* box-shadow: 0 0 20px 5px #00000059; */
    box-shadow: inset 0 0 20px 3px #00000033;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 7px 7px;
}
textarea{
    margin-top: 5px;
    width: 38.5vw;
    font-size: 16px !important;
    border: 0;
    border-radius: 7px;
    /* box-shadow: 0 0 20px 5px #00000059; */
    box-shadow: inset 0 0 20px 3px #00000033;
    margin-bottom: 15px;
    padding: 7px 7px;
    resize: none;
}
label{
    font-size: 16px;
}
#submitButton{
    padding: 10px;
    background-color:#000000;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 20px 3px #00000033;
    font-size: 16px;
    color: white;
    text-decoration: none;
    height: 43px;
    cursor: pointer;
    width: 39.7vw;
}
#goAPropos{
    padding: 5px 10px;
    background-color: white;
    border: 3px solid #000000;
    border-radius: 7px;
    box-shadow: 0 0 20px 3px #00000033;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: 10%;
    font-weight:600;
}
#dev{
    position: absolute;
    top: calc(100vh - 40px);
    left: 5vw;
    color: white;
    mix-blend-mode: exclusion;
    font-size: 12px;
}
@keyframes animationName{
    0%   {transform: translateY(-32px)}
    100% {transform: translateY(0)}
}
@keyframes animationPara{
    0%   {transform: translateY(-100%)}
    100% {transform: translateY(0)}
}
@keyframes animationPara{
    0%   {transform: translateY(-100%)}
    100% {transform: translateY(0)}
}
@keyframes social{
    0%   {transform: translateY(-200%)}
    100% {transform: translateY(0)}
}
@keyframes animImage{
    0%   {opacity: 0;transform: translateY(-25px);}
    100% {opacity: 1;transform: translateY(0px);}
}
@keyframes animForm{
    0%   {opacity: 0;transform: translateY(-25px);}
    100% {opacity: 1;transform: translateY(0px);}
}

#behance{
    animation-name: social;
    animation-duration: 0.7s;
    animation-delay: 100ms;
}
#instagram{
    animation-name: social;
    animation-duration: 0.7s;
    animation-delay: 200ms;
}
#facebook{
    animation-name: social;
    animation-duration: 0.7s;
    animation-delay: 300ms;
}
/* #malt{
    animation-name: social;
    animation-duration: 0.7s;
    animation-delay: 400ms;
} */
#linkedin{
    animation-name: social;
    animation-duration: 0.7s;
    animation-delay: 500ms;
}
#vimeo{
    animation-name: social;
    animation-duration: 0.7s;
    animation-delay: 600ms;
}
#mail{
    animation-name: social;
    animation-duration: 0.7s;
    animation-delay: 700ms;
}
.contentText{
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
#contentparapgraphe{
    width: 80%;
    overflow: hidden;
}
#nameContainer{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1172px) {
    #image{
        width: 100px;
        height: 100px;
    }
  }
@media screen and (max-width: 980px) {
    #nameTitle{
        font-size: 24px !important;
    }
    #status{
        font-size: 16px !important;
    }
    #parapgraphe{
        font-size: 12px !important;
    }
}
@media screen and (max-width: 660px) {
    body{
        flex-direction: column;
        cursor: initial;
    }
    #aPropos{
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }
    #ContactSpace{
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 100vh;
    }
    #nameTitle{
        font-size: 32px !important;
    }
    #status{
        font-size: 20px !important;
    }
    #parapgraphe{
        font-size: 16px !important;
    }
    #Contact{
        width: 100vw;
        height: 0;
        left: 0;
        top: 100vh;
    }
    .inputForm{
        width: 100%;
    }
    input{
        width: 77vw;
        height: 32px;
        font-size: 16px !important;
        border: 0;
        border-radius: 7px;
        /* box-shadow: 0 0 20px 5px #00000059; */
        box-shadow: inset 0 0 20px 3px #00000033;
        margin-bottom: 15px;
        margin-top: 5px;
        padding: 7px 7px;
    }
    textarea{
        margin-top: 5px;
        width: 77vw;
    }
    #cursor{
        display: none;
        cursor: pointer !important;
    }
    a{
        cursor: pointer !important;
    }
    #dev{
        font-size: 8px;
    }
    #submitButton{
        width: 81vw;
    }
}
@media screen and (max-width: 500px) {
    #nameTitle{
        font-size: 24px !important;
    }
    #status{
        font-size: 16px !important;
    }
    #parapgraphe{
        font-size: 12px !important;
    }
}
#BoutonRetourPortfolio{
    border: solid 1px white;
    padding: 7px;
    color: white;
    font-size: 12px;
    position: fixed;
    top: 10px;
    left: 10px;
    text-decoration: none;
    transition-duration: 0.4s;
    z-index: 10000;
    mix-blend-mode: exclusion;
  }
  #BoutonRetourPortfolio:hover{
    border: solid 1px white;
    padding: 7px;
    color: white;
    font-size: 12px;
    position: fixed;
    top: 10px;
    left: 10px;
    mix-blend-mode: exclusion;
  }
  #SouligneRetour{
    width: 0%;
    height: 1px;
    background-color: white;
    transition-duration: 0.4s;
    mix-blend-mode: exclusion;
  }
  #BoutonRetourPortfolio:hover #SouligneRetour{
    width: 100%;
    height: 1px;
    background-color: white;
  }